.{{path}}
|===
|Parameter|Description|Values

{{#parameters}}
|{{#tableCellContent}}`{{name}}`{{/tableCellContent}}
|{{#tableCellContent}}`{{description}}`{{/tableCellContent}}
|{{#tableCellContent}}`{{values}}`{{/tableCellContent}}

{{/parameters}}
|===