|===
|Path|Type|Description|Constraints|Values

{{#fields}}
|{{#tableCellContent}}`{{path}}`{{/tableCellContent}}
|{{#tableCellContent}}`{{type}}`{{/tableCellContent}}
|{{#tableCellContent}}`{{description}}`{{/tableCellContent}}
|{{#tableCellContent}}`{{constraints}}`{{/tableCellContent}}
|{{#tableCellContent}}`{{values}}`{{/tableCellContent}}

{{/fields}}
|===
